body{
  background-image: url("https://i.ytimg.com/vi/o9lAPQvwYWE/maxresdefault.jpg");
}


.Math{
    text-align: center;
    width: 50%;
    margin: auto;
    border-style: solid;
    background-color:  lightGreen;

}
